BeispielCode/.vs
BeispielCode/TerminalLANCommunication/.vs
BeispielCode/TerminalLANCommunication/Client/bin
BeispielCode/TerminalLANCommunication/Client/obj
BeispielCode/TerminalLANCommunication/TerminalLANCommunication/bin
BeispielCode/TerminalLANCommunication/TerminalLANCommunication/obj
Code/TerminalChatV1/TerminalChatServerV1/bin
Code/TerminalChatV1/TerminalChatServerV1/obj
Code/TerminalChatV1/TerminalChatV1/bin
Code/TerminalChatV1/TerminalChatV1/obj


/Code/BKUM320/BKUM320/obj
/Code/BKUM320/.vs/BKUM320
