BeispielCode\.vs
BeispielCode\TerminalLANCommunication\.vs
BeispielCode\TerminalLANCommunication\Client\bin
BeispielCode\TerminalLANCommunication\Client\obj
BeispielCode\TerminalLANCommunication\TerminalLANCommunication\bin
BeispielCode\TerminalLANCommunication\TerminalLANCommunication\obj
