BeispielCode/.vs
BeispielCode/TerminalLANCommunication/.vs
BeispielCode/TerminalLANCommunication/Client/bin
BeispielCode/TerminalLANCommunication/Client/obj
BeispielCode/TerminalLANCommunication/TerminalLANCommunication/bin
BeispielCode/TerminalLANCommunication/TerminalLANCommunication/obj
Code/ClientTerminalChatV1/ServerTerminalChatV1/bin
Code/ClientTerminalChatV1/ServerTerminalChatV1/obj
Code/ClientTerminalChatV1/TerminalChatV1/bin
Code/ClientTerminalChatV1/TerminalChatV1/obj

